/*
TODO If your question type requires some CSS, you can put it in this file.
If not, you should delete this file.
*/
#parametros-adicionais {

	margin: 0 auto;
	width: 391px;
	padding: 30px 0;
}

#parametros-adicionais > div{
	padding-top:10px;
}